html {
  font-size: 62.5%;
}

body{
	color:#fff;
	background-color: #0B1D2A;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.6rem; 
}
/****Headers****/
.h1,
h1 {
  font-size: 3rem;
}
.h2,
h2 {
  font-size: 2.6rem;
}
.h3,
h3 {
  font-size: 2.25rem;
}
.h4,
h4 {
  font-size: 2rem;
}
.h5,
h5 {
  font-size: 1.8rem;
}
.h6,
h6 {
  font-size: 1.4rem;
}

h1.small,
h2.small,
h3.small{
    font-size: 75%;
    font-weight: normal;
  }


/****Paragraphs****/
p,
a,
label {
  font-size: 1.6rem;

}
p {
  margin-bottom: 0.75rem;
  font-weight: 300;
}
  p.large,
 p.large a {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }
  

small {
  font-size: 80%;
}
.small,
a.small,
button.small {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

b,
strong,
.strong {
  font-weight: 700;
}

/****Font styles****/
.italic {
  font-style: italic;
}




/****Text alignment****/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

/****Text color****/
.text-white {
  color: #fff;
}
.text-aqua{
  color: #67F9FD;
}

.text-green{
  color: #45C4B0;
}

.text-dark{
	color:#163046c4;
}
.text-grey{
	color:#8a8d93
}


/****Text decorations****/
.underlined {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.txt-wrapped {
  white-space: pre-line;
  word-wrap: break-word;
}
.txt-highlight {
  background-color: #fcf8e3;
  color: $dark-grey;
}

/****separators*/
.hr-light-purple {
  border-color: $light-purple;
}
.hr-purple {
  border-color: $purple;
}
/****Border radius****/
.b-radius-5 {
  border-radius: 0.5rem;
}
.b-radius-10 {
  border-radius: 1rem;
}
.b-radius-20 {
  border-radius: 2rem;
}

/****Tables****/
.v-center {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}

/****Float****/
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/****Positions****/
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}

/****Display****/
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: nowrap;
}
.flex.wrap {
    flex-wrap: wrap;
  }


.flex-row {
  -webkit-flex-direction: row; /* Safari 6.1+ */
  flex-direction: row;
}
.flex-row-reverse {
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  flex-direction: row-reverse;
}
.flex-column {
  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-direction: column;
}
.flex-column-reverse {
  -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
  flex-direction: column-reverse;
}
/****Flex items alignment****/
.flex-center {
  -webkit-justify-content: center; /* Safari 7.0+ */
  justify-content: center;
}
.flex-left {
  -webkit-justify-content: flex-start; /* Safari 7.0+ */
  justify-content: flex-start;
}
.flex-right {
  -webkit-justify-content: flex-end; /* Safari 7.0+ */
  justify-content: flex-end;
}
.flex-top {
  align-items: flex-start;
}
.flex-middle {
  align-items: center;
}
.flex-vertical-stretch {
  align-items: stretch;
}

.flex-bottom {
  align-items: flex-end;
}
.flex-horizontal-gap {
  justify-content: space-between;
}
/****Flex items****/
.flex-item {
  flex: 1;
}
.flex-item.auto {
    flex: 1 1 auto;
  }
 .flex-item.center{
   align-self:center;
  }
  .flex-item.left{
   align-self:flex-start;
  }
 .flex-item.right{
   align-self:flex-end;
  }


/* show-hide */
.hidden {
  display: none;
}

.invisible {
  visibility: none;
}

.transparent {
  opacity: 0;
}

/*margin*/
.m0 {
  margin: 0;
}
.mtop0 {
  margin-top: 0;
}
.mtop5 {
  margin-top: 5px;
}
.mtop10 {
  margin-top: 10px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop40 {
  margin-top: 40px;
}

.mtop50 {
  margin-top: 50px;
}

.mtop100 {
  margin-top: 100px;
}

.mbottom5 {
  margin-bottom: 5px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.mbottom20 {
  margin-bottom: 20px;
}

.mbottom40 {
  margin-bottom: 40px;
}

.mbottom50 {
  margin-bottom: 50px;
}

.mbottom100 {
  margin-bottom: 100px;
}
/*padding*/
.pad0 {
  padding: 0;
}
.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

.pad-x-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-x-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-y-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-left-20 {
  padding-left: 20px;
}

.pad-right-5 {
  padding-right: 5px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-right-20 {
  padding-right: 20px;
}

/*cursors*/
.pointer {
  cursor: pointer;
}

select{
	border:1px solid #45C4B0;
	background-color: transparent;
	outline: none;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.avatar{
	width: 100%;
	background:url('https://app.starcks.io/assets/css/img/slider_bg.jpg') center right no-repeat;
	background-size: cover;
	padding: 50px 0;
	margin-top:150px;
}
.avatar img{
	width:100%;
}
.avatar aside{
	position: absolute;
	right: 0;
	top:-174px;
	width: 300px;
}
.score-card{
	max-width: 300px;
	background-color: #163046c4;
}
.token{
	background-color: #163046c4;
	margin-top: 100px;
}
footer{
	background-color: #19364e;
}
.social img{
  width: 30px;
  height: 30px;
}